body{ 

     background-image: linear-gradient(to bottom, rgb(18, 26, 34), rgb(28, 31, 27));
}
header, footer {
    display: flex;
    align-items: center;
    position: relative;
}


header h1 {
    color:#2ae0c2;
    margin-left:20px;
    font-size:40px;

}

header nav:hover a,
footer nav:hover a {
    opacity: 0.5;
}

header nav a:hover,
footer nav a:hover {
    opacity: 1;
}

header h1:hover {

    opacity: 0.8;
    
}

nav a:link {
    color:aliceblue;
    font-family: OCR A Std, monospace;
     font-weight: bold;
    text-decoration:none;
}

header nav,
footer nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-left:25px;
    
    border:1px solid #fdffff54;
    padding-left:35px;
    padding-right:35px;
}

.bottomnav {
    margin-top:75px;
}

main {
    
    /* background-color: rgb(231, 17, 17); */
    width:95%;
    height:70%;
    margin:auto;
    position: relative;
   
}

main h1 {
    
    padding-top:15px;
    font-size:75px;
    width:25%;
    margin-left:50px;
    color:aliceblue;

    font-family: Noto Sans, sans-serif;
    
     line-height: 80px;
    
}


.section1 {
   position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 70%;
    margin-right: 300px;
}

.section2 {
    /* background-color: aqua; */
    width:40%;
    height: 30%;
    position: absolute;
    bottom:250px;
    left: 0;
    margin-left:50px;
    border-radius:10px;
    border:1px solid #43f2ff62;
    border-image: linear-gradient(to right, #717272, #e7dde5) 1;
    
}

.section2 p {
    color:aliceblue;
    font-family: OCR A Std, monospace;
     font-weight: bold;
      padding-left:5px;
}

main section img{

    height:100%;
    width:100%;
    object-fit: cover;


}

section ul {
     color:aliceblue;
    font-family: OCR A Std, monospace;
     font-weight: bold;
}

.uh1 {
    line-height: 0px;
    padding-top:135px;
}

#secedit {
    height: 55%;
    position: absolute;
    bottom:95px;
    left: 0;
}

#secedit2 {
    margin-bottom:-30px;
    height:35%;
    
}

#secedit3 {
    margin-bottom:-155px;
    height:55%;
}
